log on
hostname "Kantircilar | cs.occ.me"
rcon_password "$CSGO_RCON_PASSWORD"
sv_password "$CSGO_SV_PASSWORD" //Only set this if you intend to have a private server!
sv_cheats 0 //This should always be set, so you know it's not on
sv_lan 0 //This should always be set, so you know it's not on
exec banned_user.cfg
exec banned_ip.cfg
